*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

a, a:hover{
    text-decoration: none;
}
/* ............................... nav ........................ */
nav{
    background: #0078AA;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: #F6F6F6;
}
nav a:hover{
    color: #3AB4F2;
}
/* ................................ logo ....................... */
.logo{
    flex: 1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo a:hover{
    color: #3AB4F2;
}
.logo img{
    width: 40px;
    margin-right: 10px;
}
/* ................................... menue ................. */
 .menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px;
    font-size: 16px;
}
/* .......................... footer ........................ */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #F6F6F6;
}
.footer span{
    color: #0078AA;
}
.footer a{
    color: #0078AA;
}
.footer a:hover{
    color: #3AB4F2;
}
.footer p{
    color: #0078AA;
}
/* ......................................................................................................................................... */
main{
    background-image: url(/img/summer-sky.jpeg);
    padding: 50px;
    margin: auto;
    width: 100%;
    height: 100vh;
}
main p{
    color: #F6F6F6;
    background: #0078AA;
}
/* .........................................to do list............................................... */
